.proj {
    color: #B284BE;
  }

.main{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(#1c1c1c,);
}  
  
  .bg-progress {
   background: linear-gradient(45deg, #F4E587 0%, #F599FE 100%); 
  }